body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

.uiMessageContainer {
    position: absolute;
    font-size: 64px;
    top: 50%;
    left: 35%;
    margin: -70px 0 0 -140px;
    min-width: 400px;
    display: none;
    text-align: center;
}
.message {
    pointer-events: none;
    border: 10px solid black;
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    display: block;
}
.button {
    vertical-align: middle;
    display: block;
    background-color: black;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    border: 10px solid black;
    color: #B80D57;
    min-width: 400px;
}
.button:hover {
    background-color: #700961;
    border: 10px solid #700961;
    color: white;
}

#uiScoreContainer {
    position: absolute;
    right: 5%;
    top: 30px;
    font-size: 48px;
}
.uiScoreHeading {
    font-size: 32px;
    vertical-align: middle;
    text-align: left;
}
.uiScore {
    display: block;
    margin-bottom: 50px;
    text-align: right;
}
#uiLevelContainer {
    display: block;
}