body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
}
canvas {
    touch-action: none;
}

.uiMessageContainer {
    position: absolute;
    font-size: 64px;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -220px;
    min-width: 400px;
    display: none;
    text-align: center;
}
.message {
    pointer-events: none;
    border: 10px solid black;
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    display: block;
    min-width: 400px;
}
.button {
    vertical-align: middle;
    display: block;
    background-color: black;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    border: 10px solid black;
    color: #B80D57;
    min-width: 400px;
}
.button:hover {
    background-color: #700961;
    border: 10px solid #700961;
    color: white;
}

#uiScoreContainer {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 30px;
    text-align: center;
}
.uiScoreHeading {
    font-size: 32px;
    vertical-align: middle;
    text-align: left;
}
.uiScore {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#uiLevelContainer {
    display: block;
}

#startButton {
    display: none;
}

#uiScoreUpdate {
    position: absolute;
    left: 90px;
    top: 0px;
    display: none;
    animation: waivy .7s infinite;
    animation-delay: calc(.1s * var(--i));
}

#uiComboScore {
    -webkit-text-fill-color: #FFEF68; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #B80D57;
    display: none;
    /*animation: wiggle 1s linear infinite;*/
    animation: waivy .4s infinite;
}

#uiScoreModifier {
    -webkit-text-fill-color: #FF8E56; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #B80D57;
    display: none;
    animation: wiggle 1s linear infinite;
}

@keyframes waivy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
